<script src="~/Scripts/bootstrap.min.js"></script>

<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">
    <h2 style="text-align:center;margin-bottom:20px">添加课程 </h2>
    <form name="myForm">
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程名</label>
                <div class="col-md-6">
                    <input type="text" name="subjectnameInput" class="form-control" ng-model="subjectName" required />
                    <span ng-show="myForm.subjectnameInput.$touched && myForm.subjectnameInput.$invalid" class="help-block">请填写课程名</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程简介</label>
                <div class="col-md-6">
                    <textarea type="text" class="form-control" ng-model="subjectDescription" ></textarea>
                   
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程封面</label>
                <div class="col-md-6">
                    <input type="file" name="ImageUpload" id="ImageUpload" accept="image/*"
                           onchange="angular.element(this).scope().imgSelected()" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程类别</label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedSubjectCategory" ng-options="x.name for x in subjectCategory" name="categoryInput" ng-change="categorySelected()" required>
                        <option value="">请选择</option>
                    </select>
                    <span ng-show="myForm.categoryInput.$touched && myForm.categoryInput.$invalid" class="help-block">请选择一个课程类别</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">讲师</label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectedTeacher" ng-options="x.name for x in teacherList" name="teacherInput" ng-change="teacherSelected()" required>
                        <option value="">请选择</option>
                    </select>
                    <span ng-show="myForm.teacherInput.$touched && myForm.teacherInput.$invalid" class="help-block">请选择一个讲师</span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-offset-5" style="padding-left:20px">
                    <input type="button" class="btn btn-primary" value="保存" ng-click="saveSubject()"  />                 
                    <input type="button" class="btn btn-danger" value="取消" ng-click="cancelSubmit()"  />
                </div>
            </div>
        </div>
    </form>






</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

       
        initSelectList($scope, $http); //初始化下拉列表       
        $scope.categorySelected =function() {
            console.log($scope.selectedSubjectCategory.id);
            $scope.categoryId = $scope.selectedSubjectCategory.id;
        }

        $scope.teacherSelected = function () {
            console.log($scope.selectedTeacher.id);
            $scope.teacherId = $scope.selectedTeacher.id;
        }

        $scope.saveSubject = function () {
            saveSubject($scope, $http);
        }

        $scope.cancelSubmit = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/Subject/Index/")";
        };

        $scope.imgSelected = function () {          
            var fd = new FormData();
            var file = document.querySelector('input[type=file]').files[0];
            fd.append('ImageUpload', file);
            fd.append("PhotoUrl","NewPhoto");
             $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Subject/AddPhoto")",
                 data: fd,
                 headers: { 'Content-Type': undefined },
                 transformRequest: angular.identity ,
                 dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                //alert("头像添加成功");
                console.log(response.data.url);
                $scope.PhotoUrl = response.data.url;
            }
        }, function (data) {
            console.log(data);
        });
        }

    });

   

    function initSelectList($scope, $http) {
       
         $http({
            method: 'GET',
            url: "@Url.Content("~/MoocAdmin/Subject/InitSelectList")",
        }).then(function (response) {
            if (response.status == 200) {
                $scope.teacherList = response.data.teacherList;
                $scope.subjectCategory = response.data.subjectCategory;
            }
        }, function (data) {
            console.log(data);
        });
    }

    


    function saveSubject($scope, $http) {

        var subject = {
            SubjectName: $scope.subjectName,
            Description: $scope.subjectDescription,
            PhotoUrl: $scope.PhotoUrl,
            teacherId: $scope.teacherId,
            categoryId: $scope.categoryId
        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Subject/AddSubjectList")",
            data: JSON.stringify(subject),
            dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                alert("课程添加成功，前往章节添加页面");              
               // window.location.href = "@Url.Content("~/MoocAdmin/Section/Add/")";
                window.location.href = "@Url.Content("~/MoocAdmin/Section/Add/")" + response.data.currentId;
            }
        }, function (data) {
            console.log(data);
        });
    }


</script>


