
<script src="~/Scripts/jqPaginator.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/easyui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.easyui.min.js"></script>
<link href="~/Scripts/icon.css" rel="stylesheet" />


<div class="row" id="dataBind" ng-app="myapp" ng-controller="myCtrl">

    <div class="col-md-10 col-md-offset-1" style="margin-top:20px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="display:inline-block">课程维护</h2>
                <a class="btn btn-primary" style="float:right;margin-top:14px;margin-right:16px;" ng-click="addSubject()" href="#"><i class="fa"></i> 添加</a>
            </div>

            <div class="panel-body" style="border-color:transparent">
                <div class="table-responsive table-striped">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>课程名</th>
                                <th>课程类别</th>
                                <th>讲师</th>
                                <th>课程状态</th>
                                <th>课程封面</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in list">
                                <td>{{row.SubjectName}}</td>
                                <td>{{row.CategoryName}}</td>
                                <td>{{row.TeacherName}}</td>
                                <td>{{row.ShowStatus}}</td>
                                <td><img ng-src="~/Images/Upload/{{row.PhotoUrl}}" style="max-height:35px;" /></td>
                                <td colspan="2"></td>
                                <td><a class="btn btn-primary" ng-click="updateSubject(row.Id)" href="#"><i class="fa fa-edit"></i>  修改</a></td>
                                <td><a class="btn btn-danger" ng-click="deleteSubject(row.Id)" href="#"><i class="fa fa-pencil"></i>  删除</a></td>
                                <td ng-hide="row.Status==1"><a class="btn btn-primary" ng-click="sell(row.Id)" href="#"><i class="fa fa-pencil"></i>  上架</a></td>
                                <td ng-hide="row.Status==0 || row.Status ==2 "><a class="btn btn-primary" ng-click="notSell(row.Id)" href="#"><i class="fa fa-pencil"></i>  下架</a></td>

                                <td><a class="btn btn-primary" ng-click="showSectionList(row.Id)" href="#"><i class="fa fa-edit"></i>  显示章节详情</a></td>
                                <td ng-show="row.Status==1"><a class="btn btn-primary " onclick="$('#dlg').dialog('open')" href="#"><i class="fa fa-pencil"></i>  开课</a></td>
                                <td ng-show="cancelDiaglog"><a id="cancelDiaglog" href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('close')">Close</a></td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-4 col-md-offset-8">
                        <ul class="pagination" id="paginationBtn" style="margin:auto"></ul>
                    </div>

                </div>
            </div>

            <div id="dlg" class="easyui-dialog" title="选择开课/结课日期" closed="true" style="width:400px;height:200px;padding:10px;"
                 data-options="
                 iconCls: 'icon-save' ,
                 modal:true,
                 buttons: [{
                 text:'Save',
                 iconCls:'icon-ok',
                 handler:function(){
						//保存开结课的日期
            var startDate = $('#resultStart').text();
            var closeDate = $('#resultClose').text();
                

            if(startDate.length == 0 || closeDate.length == 0)
            {
            alert('日期不能为空');
            }

                  saveCourseDate(startDate,closeDate);      


            }
            },{
            text:'Cancel',
            handler:function(){

            document.getElementById('cancelDiaglog').click();
            }
            }]
            ">


            <div style="margin:10px 0">
                <span style="margin-right:40px">选择开课日期: </span>
                <span id="resultStart" hidden></span>
                <input class="easyui-datebox" data-options="onSelect:onSelectStart">
            </div>


            <div style="margin:10px 0">
                <span style="margin-right:40px">选择结课日期: </span>
                <span id="resultClose" hidden></span>
                <input class="easyui-datebox" data-options="onSelect:onSelectClose" style="margin-left:20px">
            </div>

        </div>
           
        </div>
    </div>
</div>

<script>



    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.pageIndex = 1;
        $scope.pageSize = 10;
        getSubjectList($scope, $http);//载入页面数据

        $scope.sell = function (id) {

            $http({
                method: 'POST',
                url: "@Url.Content("~/MoocAdmin/Subject/Sell/")" + id,
                dataType: "json"
            }).then(function (response) {
                console.log(response);
                if (response.data == 200) {
                    alert("上架成功");
                    getSubjectList($scope, $http);
                }
                else if (response.data == 700)
                {
                    alert("该课程下还没有添加章节");
                }
                else if (response.data.code == 600) {
                    var msg = "章节： " + response.data.sectionName + " 下没有视频";

                    alert(msg);
                }

            }, function (data) {
                console.log(data);
            });
        };

        $scope.notSell = function (id) {
             $http({
                method: 'POST',
                url: "@Url.Content("~/MoocAdmin/Subject/NotSell/")" + id,
                dataType: "json"
            }).then(function (response) {
                if (response.status == 200) {
                    alert("下架成功");
                    getSubjectList($scope, $http);
                }
            }, function (data) {
                console.log(data);
            });
        };

        $scope.showSectionList = function (id) {
             window.location.href = "@Url.Content("~/MoocAdmin/Section/Index/")"+id;         //根据课程id 显示课程下所有的章节
        };

        $scope.updateSubject = function (id) {
            window.location.href = "@Url.Content("~/MoocAdmin/Subject/Details/")" + id;
        };

        $scope.deleteSubject = function (id) {
            if (confirm("确定删除该条数据?")) {
                 $http.post("@Url.Content("~/MoocAdmin/Subject/Delete/")" + id).then(function (response) {
                     if (response.status == 200) {
                         alert("删除成功");
                         getSubjectList($scope, $http);//刷新页面
                }
                 }).catch(function (data) {
                     alert("删除失败");
                     console.log("catch:" + data);
            })
            }
        };

        $scope.addSubject = function () {
             window.location.href = "@Url.Content("~/MoocAdmin/Subject/Add/")";
        }
    });


  
    function getSubjectList($scope, $http) {

        $http.post("@Url.Content("~/MoocAdmin/Subject/GetSubjectList")", { pageIndex: $scope.pageIndex, pageSize: $scope.pageSize }).then(function (response) {
            if (response.status == 200) {
                $('#paginationBtn').jqPaginator({
                    totalCounts: response.data.iCount,
                    pageSize:$scope.pageSize,
                    visiblePages: 5,
                    currentPage: $scope.pageIndex,

                    first: '<li class="first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">前一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">后一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">最后一页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (number) {
                        //number为用户点击触发的那个页数
                        $scope.pageIndex = number;
                        if ($('#paginationBtn .active').eq(0).attr('jp-data') !== number.toString()) {
                            getSubjectList($scope, $http);
                        }
                    }
                });
                $scope.list = response.data.data;
                console.log($scope.list);
            }
        }).catch(function (data) {
            console.log("catch:" + data);
        });
    }

    function onSelectStart(date) {
      //  console.log(date);
        da = new Date(date);
        var year = da.getFullYear() ;
        var month = da.getMonth() + 1 ;
        var date = da.getDate() ;
        console.log([year, month, date].join('-'));
        $('#resultStart').text([year, month, date].join('-'))
    }

    function onSelectClose(date) {
        da = new Date(date);
        var year = da.getFullYear() ;
        var month = da.getMonth() + 1 ;
        var date = da.getDate() ;
        console.log([year, month, date].join('-'));
        $('#resultClose').text([year, month, date].join('-'))
    }

    function saveCourseDate(startDate, closeDate) {
      
       
         $.ajax({
                url: "@Url.Content("~/MoocAdmin/OpenCourse/Add/")",
             data: { "startDate": startDate, "closeDate": closeDate },
                dataType: 'json', type: "POST",
                success: function (result) {
                   
                    if (result == 0) {
                      
                       
                    } else {
                       

                    }

                }
            });
    }

</script>

