
<link href="~/Scripts/easyui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.easyui.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">
    <form name="myForm">
        <input type="button" style="float:right" class="btn btn-primary" value="返回上一级" ng-click="cancelSubmit()" />
        <h2 style="text-align:center;margin-bottom:20px">修改章节信息 </h2>
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">章节名称</label>
                <div class="col-md-6">
                    <input type="text" name="sectionNameInput" class="form-control" ng-model="section.SectionName" required />
                    <span ng-show="myForm.sectionNameInput.$touched && myForm.sectionNameInput.$invalid">章节名称必填</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">章节简介</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="section.Description" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-5" style="padding-left:20px">
                    <input type="submit" class="btn btn-primary" value="保存" ng-click="saveSection()" />
                    <input type="button" class="btn btn-danger" value="取消" ng-click="cancelSubmit()" />
                </div>
            </div>
        </div>
    </form>

    <div style="border-top:1px solid grey">
        <div id="tt" class="easyui-tabs" style="width:800px;height:550px;margin-top:30px;margin-left:auto;margin-right:auto">
            <div title="上传新视频">
                <div name="videoForm">

                    <div style="padding:30px">
                        <div class="form-group row">
                            <label class="col-md-2  col-form-label">视频播放</label>
                            <div class="col-md-2">
                                <video id="videoPlayInput" width="418" ng-src="{{videoUrl}}" controls></video>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">视频</label>
                            <div class="col-md-2">
                                <input type="file" id="videoInput" accept="video/*" file-model="videos" onchange="angular.element(this).scope().video_upload(this.files)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2  col-form-label">视频标题</label>
                            <div class="col-md-7">
                                <input type="text" id="videoTitleInput" class="form-control" ng-model="videoTitle" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">视频简介</label>
                            <div class="col-md-7">
                                <input type="text" id="videoDescriptionInput" class="form-control" ng-model="videoDescription" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-2" style="padding-left:15px">
                                <input type="button" class="btn btn-primary" value="保存视频" ng-click="saveVideo()" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {
        $scope.sectionId = '@ViewBag.sectionId';



        $scope.saveVideo = function () {

            saveVideo($scope, $http);
        }
        getSectionAndVideoDetail($scope, $http);


        $scope.saveSection = function () {

            saveSection($scope, $http);

        };
        $scope.cancelSubmit = function () {
            getSubjectId($scope, $http);
            window.location.href = "@Url.Content("~/MoocAdmin/Section/Index/")" + $scope.subjectId;
        };


         $scope.video_upload = function (files) {

            var data = new FormData();      //以下为像后台提交图片数据
            data.append('video', files[0]);
            $http({
                method: 'post',
                url: "@Url.Content("~/MoocAdmin/Video/UploadVideo/")" ,
                data: data,
                headers: { 'Content-Type': undefined },
                transformRequest: angular.identity,
                dataType: "json"
            }).then(function (response) {
               // debugger
                console.log(response);
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        $scope.videoUrl = response.data.url;
                        $scope.fileSaveName = response.data.filename;
                        $scope.originalFileName = response.data.originalFileName;
                    } else {
                        alert(response.data.msg);
                    }

                    // console.log(response.data.url);
                    // $scope.PhotoUrl = response.data.url;
                }
            }, function (data) {
                console.log(data);
            });
            return false;
        };

    });

    function getSubjectId($scope, $http) {
         $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Subject/GetSubjectId")",
            data: $scope.sectionId,
            dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                $scope.subjectId = response.data.subjectId.subjectId;
                console.log("subjectId");
                console.log($scope.subjectId);
            }
        }, function (data) {
            console.log(data);
        });
    }

    function getSectionAndVideoDetail($scope, $http) {
        //alert($scope.sectionId);
        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Section/GetSectionAndVideoDetail")",
            data: { "id": $scope.sectionId},
        }).then(function (response) {
            if (response.status == 200) {

                console.log(response);
                $scope.section = response.data.sectionDetail;
                $scope.subjectId = response.data.subjectId.subjectId;
                console.log($scope.subjectId);

                //初始化页面，将已有的video添加到tab页
                response.data.videoList.forEach(function (element) {
                    console.log(element.saveFileName);
                    $scope.videoUrl = "/api/GetContent/Video?id=" + element.saveFileName
                    
                    var title = element.videoTitle;
                      var info = {
                          Description: element.Description,
                          OriginalFileName: element.originalFileName,
                          VideoUrl: $scope.videoUrl,
                          VideoId: element.videoId
                };

                addTab(title, info);//创建新tab页 并将用于提交的tab页清空
                $scope.videoUrl = null;
                $scope.videoTitle = "";
                $scope.videoDescription = "";
                clearSubmitTab();
                     
                });

            }
        }, function (data) {
            console.log(data);
        });
    }

    function saveSection($scope, $http) {
        console.log($scope);
        var section = {
            SectionName: $scope.section.SectionName,
            Description: $scope.section.Description,
            Id: $scope.section.Id,
            SubjectId: $scope.subjectId

        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Section/AddSectionList")",
            data: JSON.stringify(section),
            dataType: "json"
        }).then(function (response) {
            if (response.data.code == 200) {
                alert("修改章节成功");

            }
            else {
                alert("修改章节失败");
            }
        }, function (data) {
            console.log(data);
        });
    }

    function saveVideo($scope, $http) {
          var video = {
              VideoTitle: $scope.videoTitle,
              Description: $scope.videoDescription,
              FileId: $scope.fileSaveName,              //视频文件在服务器上保存的文件名
              OriginalFileName: $scope.originalFileName,                     //上传时的原始名字
              SectionId: $scope.sectionId


        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Video/AddVideoList")",
            data: JSON.stringify(video),
            dataType: "json"
        }).then(function (response) {
            if (response.data.code == 200) {
                alert("添加视频成功");
             
              //  alert(response.data.currentId);
                $scope.videoId = response.data.currentId;
               // loadVideoList($scope.sectionId);
                var title = $scope.videoTitle;
                var info = {
                    Description: $scope.videoDescription,
                    OriginalFileName: $scope.originalFileName,
                    VideoUrl: $scope.videoUrl,
                    VideoId: $scope.videoId
                };

                addTab(title, info);//创建新tab页 并将用于提交的tab页清空
                $scope.videoUrl = null;
                $scope.videoTitle = "";
                $scope.videoDescription = "";
                clearSubmitTab();
            }
            else {
                alert("添加视频失败");
            }
        }, function (data) {
            console.log(data);
        });
    }

    function addTab(title, info) {
        if (typeof (info.Description) == "undefined" || !info.Description) {
            info.Description = "暂无简介";
        }

        if ($('#tt').tabs('exists', title)) {
            $('#tt').tabs('select', title);
        } else {
            var strVar = "";
            strVar += "<div style=\"padding:30px\">";
            strVar += "                        <div class=\"form-group row\">";
            strVar += "                            <label class=\"col-md-2  col-form-label\">视频播放<\/label>";
            strVar += "                            <div class=\"col-md-2\">";
            strVar += "                                 <video width=\"418\" src=\"" + info.VideoUrl + "\" controls><\/video>";
            strVar += "                            <\/div>";
            strVar += "                        <\/div>";
            strVar += "";
            strVar += "";
            strVar += "                       ";
            strVar += "                        <div class=\"form-group row\">";
            strVar += "                            <label class=\"col-md-2  col-form-label\">视频文件名<\/label>";
            strVar += "                            <div class=\"col-md-7\">";
            strVar += "                                <input type=\"text\" readonly=\"readonly\" class=\"form-control\" value=" + info.OriginalFileName + " \/>";
            strVar += "                            <\/div>";
            strVar += "                        <\/div>";
            strVar += "                        <div class=\"form-group row\">";
            strVar += "                            <label class=\"col-md-2 col-form-label\">视频简介<\/label>";
            strVar += "                            <div class=\"col-md-7\">";
            strVar += "                                <input type=\"text\" readonly=\"readonly\" class=\"form-control\" value=" + info.Description + " \/>";
            strVar += "                            <\/div>";
            strVar += "                        <\/div>";
            strVar += "                        <div class=\"form-group row\">";
            strVar += "                            <div class=\"col-md-offset-2\" style=\"padding-left:20px\">";
            strVar += "                              ";
            strVar += "                                <input type=\"button\" class=\"btn btn-danger\" value=\"删除视频\" onclick=\"closeTabs(" + info.VideoId + ")\" \/>";
            strVar += "                            <\/div>";
            strVar += "                        <\/div>";
            strVar += "                    <\/div>";


            $('#tt').tabs('add', {
                title: title,
                content: strVar,
                closable: false
            });
        }
    }

     function closeTabs(id) {
     
        if (confirm("确认删除视频吗?")) {
            $.ajax({
                url: "@Url.Content("~/MoocAdmin/Video/Delete/")",
                data: { "id": id },
                dataType: 'json', type: "POST",
                success: function (result) {
                   
                    if (result == 0) {
                        alert("删除成功");
                        var tab = $('#tt').tabs('getSelected');             //删除相应的tab页
                        var index = $('#tt').tabs('getTabIndex', tab);
                       
                        var index = $('#tt').tabs('close', index);
                    } else {
                        alert("删除失败");

                    }

                }
            });
        }



    }
   
    function clearSubmitTab() {
        
    
        $("#videoTitleInput").val("");
        $("#videoDescriptionInput").val("");
     

        var videoInput = document.getElementById('videoInput');
        videoInput.value = ''; 

        var videoPlayInput = document.getElementById('videoPlayInput');
        videoPlayInput.src = null;

       
    }


</script>


