
<script src="~/Scripts/jqPaginator.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row" id="dataBind" ng-app="myapp" ng-controller="myCtrl">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="display:inline-block">章节信息</h2>
                <a class="btn btn-primary" style="float:right;margin-top:14px;margin-right:16px;"  href="@Url.Content("~/MoocAdmin/Subject/Index/")"><i class="fa"></i> 返回至上一级</a>
                <a class="btn btn-primary" style="float:right;margin-top:14px;margin-right:16px;" ng-click="addNewSection()" href="#"><i class="fa"></i> 添加</a>

            </div>

            <div class="panel-body">
                <div class="table-responsive table-striped">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>章节名称</th>
                                <th>章节简介</th>

                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in list">
                                <td>{{row.SectionName}}</td>
                                <td>{{row.Description}}</td>


                                <td>
                                    <a class="btn btn-primary" ng-click="updateSection(row.Id)" href="#"><i class="fa fa-edit"></i>  修改</a>
                                    <a class="btn btn-danger" ng-click="deleteSection(row.Id)" href="#"><i class="fa fa-pencil"></i>  删除</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div style="float:right">
                        <ul class="pagination" id="paginationBtn" style="margin:auto"></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>



    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.SubjectId = '@ViewBag.subjectId';
        $scope.pageIndex = 1;
        $scope.pageSize = 10;
        getSectionList($scope, $http);//载入页面数据

        $scope.updateSection = function (id) {
            window.location.href = "@Url.Content("~/MoocAdmin/Section/Edit/")" + id;
        };

        $scope.addNewSection = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/Section/Add/")" + $scope.SubjectId ;
        }

        $scope.deleteSection = function (id) {
            if (confirm("确定删除该条数据?")) {
                 $http.post("@Url.Content("~/MoocAdmin/Section/Delete/")" + id).then(function (response) {
                     if (response.status == 200) {
                         alert("删除成功");
                         getSectionList($scope, $http);//刷新页面
                }
            }).catch(function (data) {
                     console.log("catch:" + data);
                     alert("删除失败");
            })
            }
        };


    });




    function getSectionList($scope, $http) {

        $http.post("@Url.Content("~/MoocAdmin/Section/GetSectionList/")" + $scope.SubjectId, { pageIndex: $scope.pageIndex, pageSize: $scope.pageSize }).then(function (response) {
            if (response.status == 200) {
                $('#paginationBtn').jqPaginator({
                    totalCounts: response.data.iCount,
                    pageSize:$scope.pageSize,
                    visiblePages: 5,
                    currentPage: $scope.pageIndex,

                    first: '<li class="first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">前一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">后一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">最后一页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (number) {
                        //number为用户点击触发的那个页数
                        $scope.pageIndex = number;
                        if ($('#paginationBtn .active').eq(0).attr('jp-data') !== number.toString()) {
                            getSectionList($scope, $http);
                        }
                    }
                });
                $scope.list = response.data.data;
                console.log($scope.list);
                $scope.list.forEach(function (element) {
                   // alert(element.SubjectId);         //因为subjectId包含在一个list中返回，所有用foreach读取
                    $scope.subjectId = element.SubjectId;
                });

            }
        }).catch(function (data) {
            console.log("catch:" + data);
        });
    }

</script>

