<script src="~/Scripts/bootstrap.min.js"></script>
<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">
    <form name="myForm" >
        <h2 style="text-align:center;margin-bottom:20px">修改课程类别 </h2>
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程类别名</label>
                <div class="col-md-6">
                    <input type="text" name="categoryNameInput" class="form-control" ng-model="subjectCategory.CategoryName" required />
                    <span ng-show="myForm.categoryNameInput.$touched && myForm.categoryNameInput.$invalid">课程类别名必填</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">课程类别描述</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="subjectCategory.CategoryDescription" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-5" style="padding-left:20px">
                    <input type="submit" class="btn btn-primary" value="保存" ng-click="saveSubjectCategory()" />
                    <input type="button" class="btn btn-danger" value="取消" ng-click="cancelSubmit()" />
                </div>
            </div>
        </div>
    </form>

    

</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.Id = '@ViewBag.Id';
        var id = $scope.Id;

        getSubjectCategoryDetail($scope, $http);


        $scope.saveSubjectCategory = function () {

            saveSubjectCategory($scope, $http);

        };
        $scope.cancelSubmit = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/SubjectCategory/Index/")";
        };

    });


    function getSubjectCategoryDetail($scope, $http) {

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/SubjectCategory/GetSubjectCategoryDetail")",
            data: {"id":$scope.Id},
        }).then(function (response) {
            if (response.status == 200) {
                $scope.subjectCategory = response.data;
                console.log(response);
                console.log($scope.subjectCategory);
               
            }
        }, function (data) {
            console.log(data);
        });
    }

    function saveSubjectCategory($scope, $http) {

        var subjectCategory = {
            CategoryName: $scope.subjectCategory.CategoryName,
            CategoryDescription: $scope.subjectCategory.CategoryDescription,
            Id: $scope.Id
        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/SubjectCategory/AddSubjectCategoryList")",
            data: JSON.stringify(subjectCategory),
            dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                alert("更新成功");
                window.location.href = "@Url.Content("~/MoocAdmin/SubjectCategory/Index/")";
            }
        }, function (data) {
            console.log(data);
        });
    }


</script>

