<script src="~/Scripts/bootstrap.min.js"></script>
<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">


    <form name="myForm" ng-submit="submitForm(userForm.$valid)">
        <h2 style="text-align:center;margin-bottom:20px">Update Teacher Info </h2>
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Name</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="teacherNameInput" ng-model="teacher.TeacherName" required>
                    <span ng-show="myForm.teacherNameInput.$touched && myForm.teacherNameInput.$invalid" class="help-block">Name Required</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Email</label>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="emailInput" ng-model="teacher.Email">
                    <span ng-show="myForm.emailInput.$touched && myForm.emailInput.$invalid" class="help-block">Wrong format</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Level</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Level">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Department</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Department">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">PhotoUrl</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.PhotoUrl">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Description</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Description">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-7">
                    <input type="submit" class="btn btn-primary" value="Save" ng-click="saveTeacher()" ng-disabled="myForm.$invalid" style="margin-left:35px;" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancelSubmit()" style="margin-left:15px;" />
                </div>
            </div>
        </div>
    </form>

</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.Id = '@ViewBag.Id';
        var id = $scope.Id;

        getTeacherDetail($scope, $http);


        $scope.saveTeacher = function () {

            saveTeacher($scope, $http);

        };
        $scope.cancelSubmit = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/Teacher/Index/")";
        };

    });


    function getTeacherDetail($scope, $http) {

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Teacher/GetTeacherDetail")",
            data: {"id":$scope.Id},
        }).then(function (response) {
            if (response.status == 200) {
                $scope.teacher = response.data;
                console.log($scope.teacher);
                console.log(response);
                

            }
        }, function (data) {
            console.log(data);
        });
    }

    function saveTeacher($scope, $http) {

        var teacher = {
            TeacherName: $scope.teacher.TeacherName,
            Email: $scope.teacher.Email,
            Id: $scope.teacher.Id,
            Level: $scope.teacher.Level,
            Department: $scope.teacher.Department,
            PhotoUrl: $scope.teacher.PhotoUrl,
            Description: $scope.teacher.Description

        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Teacher/AddTeacherList")",
            data: JSON.stringify(teacher),
            dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                window.location.href = "@Url.Content("~/MoocAdmin/Teacher/Index/")";
            }
        }, function (data) {
            console.log(data);
        });
    }


</script>

